
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

header {
    padding-left: 1%;
    padding-top: 1.2%;
}

footer {

    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    margin-left: 15px;
    margin-bottom: -55px;
   
}

aside {
    height: 100%; 
    width: 10%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}


.navbar p:hover {
            color: aliceblue;
        }

#header-index {
    color: #44453f;
}

header, footer, body, .video-container {
    background-color: white;
}

.searcher {
    width: 600px;
    height: 30px;
    margin-left: 17px;
}

.searcher input {

    margin-left: 10px;
}

