<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>about</title>
    <link href="../static/css/about.css" rel="stylesheet" type="text/css">
    <script src="../static/js/about.js"></script>
</head>

<header>

    <h1 class="title"> LifeSpot - О проекте</h1>
    <p>
        Наш проект предоставляет доступ к онлайн трансляциям из городов разных стран. Заходи и смотри что происходит сейчас.
        Оставьте ваш отзыв, пожалуйста!
    </p>

</header>


<body>

    <div class="reviews">
        <div class="review-button">
            <button onclick="getReview()">Оставить отзыв</button>
        </div>
    </div>

    <aside id="sidebar">
        <div class="navbar">
            <a href="/"<p>Все трансляции</p></a>
            <a href="/about"<p>О проекте</p></a>
            <a href="/testing"<p>Тестирование</p></a>
        </div>>
    </aside>

</body>

<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>
</html>