<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
</head>

<header id="header-index">
    <h1>LifeSpot — прямые трансляции с улиц</h1>
    <p>Покажем, что происходит прямо сейчас</p>
</header>

<body>
    <div class="searcher"
         <button>Поиск</button>
         <input type="text" placeholder="Введите название видео" size="50"/>

    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5jcrMjEnYu0" title="🕹 LIVE CAMERA Russia Saint Petersburg interactive PTZ control real sound Moscow time online" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3 class="video-title">Санкт-Петербург</h3>
    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UVftxDFol90" title="EarthCam Live:  Times Square in 4K" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3 class="video-title">Нью-Йорк</h3>
    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE?si=pPTLYNElFWiAuyFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h3 class="video-title">Лондон, автобусный маршрут</h3>
    </div>

    <aside id="sidebar">
        <div class="navbar">
            <a href="#"<p>Все трансляции</p></a>
            <a href="#"<p>О проекте</p></a>
        </div>
    </aside>
</body>

<footer>
    <p>LifeSpot - все права защищены</p>
    <p>Связаться с нами: contact@lifespot.ru</p>
</footer>

</html>